/* --------------------------------- Fonts --------------------------------- */
@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham.ttf") format("truetype");
}

@font-face {
    font-family: "KG Happy Solid";
    src: url("../fonts/KGHAPPYSolid.ttf") format("truetype");
}

/* ------------------------------- KEY FRAMES ------------------------------ */
@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    100% { left: 0; }
}
@keyframes slideright {
    100% { left: 0; }
}
@-moz-keyframes slideright { /* Firefox */
    100% { left: 0; }
}
@-webkit-keyframes slideright { /* Safari and Chrome */
    100% { left: 0; }
}
@-o-keyframes slideright { /* Opera */
    100% { left: 0; }
}

/* --------------------------- Generic Elements ---------------------------- */
:root {
    --red: #DB3E11;
    --light-red: #ff4d4d;
    --cream: #fffbf5;
    --dark-cream: #fbf4ea;
}

body {
    background-color: var(--cream);
    color: black;
    font: 15px/20px Gotham, Arial, sans-serif;
    font: 20px/28px Gotham, Arial, sans-serif;
    margin: 0px;

    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    animation: fadein 2s;
}

a {
    text-decoration: none;
    color: var(--red);
}

a:hover {
    color: var(--light-red);
    -webkit-transition: color 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

img, svg, div, table {
    display: block;
}

header {
    font: 35px 'KG Happy Solid', Arial, sans-serif;
    /*text-align: center;*/
    margin-bottom: 30px;
    text-transform: uppercase;
}

ul li {
    list-style-type: circle;
}

/* -------------------------------- Logo ----------------------------------- */
/*#logo {
    height: 50px;
    margin: 40px 50px;
    float: left;
}*/

/* --------------------------- Navigation Bar ------------------------------ */
nav {
    width: 100%;
    text-align: right;
    /*display: inline-block;*/
}

nav ul {
    list-style: none;
    padding: 40px 60px;
    /*margin-top: 0px;*/
}

nav ul li {
    display: inline;
}

body.front-page nav ul li:nth-child(1) a,
body.resume nav ul li:nth-child(2) a,
body.about nav ul li:nth-child(3) a {
    color: var(--red);
}

nav ul li a {
    margin-left: 40px;
    font: 15px "KG Happy Solid", Arial, sans-serif;
    font: 14px "KG Happy Solid", Arial, sans-serif;
    color: #777;
    text-transform: uppercase;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

nav ul li a:hover {
    color: var(--light-red);
}

/* ------------------------------ Front Page ------------------------------- */
body.front-page table {
    max-width: 65%;
    margin: 0 auto;
    margin-top: 14vh;
}

body.front-page table td {
    font-size: 25px;
    line-height: 60px;
    vertical-align: top;
}

body.front-page table td:nth-child(odd) {
    padding-top: 20px;
}

body.front-page table span {
    font: 50px 'KG Happy Solid', Arial, sans-serif;
    padding: 0px 30px 0px 15px;
}

body.front-page table td a {
    font-family: 'KG Happy Solid', Arial, sans-serif;
    /*color: var(--red);*/
}

body.front-page table td a:hover {
    color: var(--light-red);
    -webkit-transition: color 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

body.front-page svg {
    opacity: 0.2;
    margin: 0 auto;
    margin-top: 30px;
    /*width: 1400px;*/
    width: 1250px;
}

body.front-page section:nth-child(2):before {
    content: "";
    position: absolute;
    height: 500px;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(255, 251, 245, 1) 15%, rgba(255, 251, 245, 0) 25%, rgba(255, 251, 245, 0) 75%, rgba(255, 251, 245, 1) 85%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 251, 245, 1)), color-stop(49%, rgba(255, 251, 245, 0)), color-stop(100%, rgba(255, 251, 245, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 251, 245, 1) 0%, rgba(255, 251, 245, 0) 49%, rgba(255, 251, 245, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 251, 245, 1) 0%, rgba(255, 251, 245, 0) 49%, rgba(255, 251, 245, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 251, 245, 1) 0%, rgba(255, 251, 245, 0) 49%, rgba(255, 251, 245, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(255, 251, 245, 1) 15%, rgba(255, 251, 245, 0) 25%, rgba(255, 251, 245, 0) 75%, rgba(255, 251, 245, 1) 85%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 */
    z-index: 1;
}

/* --------------------------- SF SVG Animation ---------------------------- */
@keyframes scroll {
    0%   {transform: translateX(80%)}
    100% {transform: translateX(-80%)}
}

@keyframes scroll-lower {
    0%   {transform: translateX(80%) translateY(20px)}
    100% {transform: translateX(-80%) translateY(20px)}
}

@keyframes back-and-forth {
    0%   {transform: translateX(0px)}
    25%  {transform: translateX{-50px}}
    75%  {transform: translateX(50px)}
    100%  {transform: translateX{0px}}
}

@keyframes fade-in-out {
    0%        {opacity: 0}
    15%, 70%  {opacity: 1}
    85%, 100% {opacity: 0}
}

@keyframes up-and-down {
    0%   {transform: translateY(0px)}
    50% {transform: translateY(10px)}
    100%  {transform: translateY{0px}}
}

@keyframes swim {
    0%   {transform: translateX(0%) translateY(420px) scale(-1,1) translateX(-100px)}
    25% {transform: translateX(100%) translateY(420px) scale(-1,1) translateX(-100px)}
    100% {transform: translateX(100%) translateY(420px) scale(-1,1) translateX(-100px)}
}

.clouds g:nth-child(even) .cloud path {
    animation: scroll 50s linear infinite;
}

.clouds g:nth-child(odd) .cloud path {
    animation: scroll 80s linear infinite;
}

.clouds-repeat .cloud path {
    animation: scroll-lower 60s linear infinite;
    animation-delay: -50s;
}

.clouds-repeat .cloud:nth-child(odd) path {
    animation: scroll-lower 70s linear infinite;
    animation-delay: -50s;
}

.waves path {
    animation: up-and-down 5s linear infinite;
}

.waves path:nth-child(4n-3) {
    animation-delay: -2s;
}

.waves path:nth-child(4n-2) {
    animation-delay: -3s;
}

.waves path:nth-child(4n-1) {
    animation-delay: -4s;
}

/*.shark {
    transform: translateY(420px) scale(-1,1) translateX(-100px);
    animation: swim 160s linear infinite;
    animation-delay: 10s;
}

.shark-fin-wave {
    fill: none;
}
.shark-fin-wave, .shark-fin { 
    stroke: #222;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.5px;
}
.shark-fin {
    fill: white;
}*/


/* --------------------------- CA SVG Animation ---------------------------- */
@keyframes offset {
    to {
      stroke-dashoffset: 0px;
    }
  }

body.about svg {
    width: 300px;
    height: 350px;
}

#california-outline {
    fill: none;
    stroke: rgba(0, 0, 0, 1);
    stroke-width: 3px;
    stroke-dasharray: 1510px;
    stroke-dashoffset: -1510px;
    animation: 3s offset linear forwards;
}

#heart {
    opacity: 0;
    -moz-animation: fadein 1s 3s; /* Firefox */
    -webkit-animation: fadein 1s 3s; /* Safari and Chrome */
    -o-animation: fadein 1s 3s; /* Opera */
    animation: fadein 1s 3s forwards;
}

/* ---------------------------- General Pages ------------------------------ */
body.resume main, body.about main, body.contact main {
    max-width: 60%;
    margin: 0 auto;
}

/* --------------------------- Resume Page --------------------------- */
body.resume table {
    margin: 0 auto;
}

body.resume table ul {
    padding-left: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #666;
}

body.resume table li {
    margin-bottom: 10px;
}

body.resume table tr td:nth-child(1) {
    color: var(--red);
    font-weight: bold;
    font-family: 'KG Happy Solid', arial, sans-serif;
    /*font-size: 25px;*/
    text-transform: uppercase;
    vertical-align: top;
    text-align: right;
    padding-right: 25px;
}

body.resume table tr td:nth-child(2) {
    padding: 10px;
}

body.resume table tr td:nth-child(1),
body.resume table tr td:nth-child(2) {
    padding-top: 30px;
}

/*.table-title {
    font-weight: 500;
}*/

.skill {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    background-color: var(--dark-cream);
    margin-bottom: 15px;
    border-radius: 15px;
    overflow: hidden;
}

.skill-fill {
    position: absolute;
    display: block;
    height: 100%;
    background-color: var(--red);
    /*border-radius: 0 8px 8px 0;*/
    border-radius: 15px;
    -moz-animation: slideright 1s forwards; /* Firefox */
    -webkit-animation: slideright 1s forwards; /* Safari and Chrome */
    -o-animation: slideright 1s forwards; /* Opera */
    animation: slideright 1s forwards;

}

.skill-label {
    position: absolute;
    left: 0;
    line-height: 50px;
    padding-left: 20px;
    color: var(--cream);
    font-family: 'KG Happy Solid', Arial, Helvetica, sans-serif;
    font-size: 15px;    
}

.python { left: -75%; width: 75%; }
.django { left: -60%; width: 60%; }
.javascript { left: -40%; width: 40%; }
.html5 { left: -90%; width: 90%; }
.css3 { left: -50%; width: 50%; }
.jquery { left: -40%; width: 40%; }
.docker { left: -25%; width: 25%; }
.git { left: -60%; width: 60%; }
.regex { left: -50%; width: 50%; }
.ps { left: -50%; width: 30%; }
.ill { left: -50%; width: 10%; }


/* --------------------------- About Page ---------------------------- */
body.about main div:nth-child(2) {
    display: inline-block;
    width: 69%;
    margin: 0px;
    vertical-align: top;
}

body.about main div:nth-child(3) {
    float: right;
    width: 30%;
}

body.about main a {
    font-family: 'KG Happy Solid';
    font-size: 18px;
}

body.about div p:nth-child(2) {
    margin: 40px 0px;
}

/* ----------------------------- Media Queries ----------------------------- */
@media only screen and (min-width: 1700px) {
    body.front-page svg {
        width: 80%;
    }
}

@media only screen and (min-width: 2000px) {
    nav ul li a {
        font-size: 25px;
    }

    body.front-page table td {
        font-size: 35px;
    }

    body.front-page table span {
        font-size: 60px;
    }
}

@media only screen and (max-width: 1300px) {
    body.front-page table {
        max-width: 75%;
    }

    body.front-page table td {
        font-size: 20px;
        line-height: 50px;
        vertical-align: 40px;
    }

    body.front-page table td:nth-child(odd) {
        padding-top: 10px;
    }

    body.front-page table span {
        font-size: 35px;
        padding: 0px 15px 0px 10px;
    }

    body.front-page svg {
        width: 100%;
    }
    
}

@media only screen and (max-width: 800px) {
    body.front-page table td {
        display: inline;
    }
}